<h5 id="windSpeed">5 Day Forecast for {{model.city.name}}</h5>

<h6 id="windSpeed">Humidity: y</h6>
<h6 id="windSpeed">Time: x</h6>
<h6 id="windSpeed">Clouds: size</h6>
<h6 id="windSpeed">Color: temperature</h6>

<div id="svgContainer">
</div>
