<h4 class="center">16 Day Forecast for {{model.city.name}}</h4>

<<<<<<< HEAD
<h6 class="center">Rainfall in inches: y</h6>
<h6 class="center">Wind speed: x</h6>
<h6 class="center">Cloudiness: size</h6>
<h6 class="center">Color: temperature</h6>
=======
<h6 id="windSpeed">Size: clouds</h6>
<h6 id="windSpeed">Color: temperature</h6>
>>>>>>> cde3f79b2acad4201afa97717b99a28eee7ea3a7

<div id="holder"></div>
