<h1 id="windSpeed">The Really Meaningful Moving Dot</h1>

<!-- <label for="cityName">City Name: </label>
{{input value=cityName id="cityName"}}
<button {{action 'setCity'}}>Set City</button> -->

<svg width="800" height="200">
  <circle cx="20" cy="80" r="10"/>
  <circle cx="100" cy="80" r="50"/>
  <circle cx="250" cy="80" r="75"/>
  <text x="40" y="180" font-family="sans-serif" font-size="20px">Cloudiness %</text>

  <circle cx="600" cy="80" r="50" fill="purple"/>
  <circle cx="730" cy="80" r="50" fill="magenta"/>
  <text x="570" y="180" font-family="sans-serif" font-size="20px">Colder</text>
  <text x="700" y="180" font-family="sans-serif" font-size="20px">Warmer</text>

</svg>

<!-- <div id="holder2">
</div> -->
<h2 id="windSpeed">Wind Speed:</h2>

<div id="holder">
  <text x="500" y="500" font-family="sans-serif" font-size="20px" fill="red">Humidity %</text>
  <!-- <button {{action 'getWeather'}}>Log Model</button> -->
</div>
