<div id="scatter-main">
  <div id="holder">
    <br>
    <div class="nav-wrapper">
      <form>
        <div class="form-group">
          <!-- <label>Input City:</label>
          {{input class="form-control text_box" type="text" value=inputCity}} -->
          <button class="waves-effect waves-light btn" {{action 'generateScatter' city }}>Today's Weather Visual</button>
        </div>
        <br>
        <div class="form-group">
          <button class="waves-effect waves-light btn" {{action 'generateBar' city }}>Five Day Heat Forecast</button>
        </div>
        <br>
      </form>
    </div>
    <br>
  </div>
  <div id="barHolder">

  </div>
</div>
