<div class="map-display"></div>

<div class="weather-display">
  <div id="holder"></div>
  <button class="waves-effect waves-light btn" {{action 'generateWeather'}}>Animate Weather</button>
</div>
{{birdseye-bar weather=weather citySearch="citySearch"}}
