#windSpeed {
  text-align: center;
}

.map-display {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 0;
}

.weather-display {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

svg {
  display: none;
}

svg:last-child {
  display: block;
}
