div .bar {
  display: inline-block;
  width: 25px;
  height: 3px;
  margin-right: 3px;
  margin-left: 4px;
  background-color: #666;
  margin-bottom: 10%;
  color: white;
  text-align: center;
  border-radius: 6%;
}

div .spacer {
  display: inline-block;
  height: 300px;
  width: 1px;
}

#windSpeed {
  text-align: center;
}

.text_box {
  border-style: solid;
}
/*#barHolder {
  height: 500px;
}*/
.map-display {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 0;
}

.weather-display {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/*svg {
  display: none;
}

svg:last-child {
  display: block;
}*/
