<nav>
  <div class="nav-wrapper indigo darken-1">
    {{#link-to 'index' class="brand-logo"}}Weather Visualizations{{/link-to}}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'city-comparison'}}City Comparison(Chip){{/link-to}}</li>
      <li>{{#link-to 'scatter-map'}}Scatter Map(Colin){{/link-to}}</li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</nav>


{{outlet}}
