<nav>
  <div class="nav-wrapper indigo darken-1">
    {{#link-to 'index' class="brand-logo"}}Weather Visualizations{{/link-to}}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'city-comparison'}}City Comparison(Chip){{/link-to}}</li>
      <li>{{#link-to 'scatter-map'}}Scatter Map(Colin){{/link-to}}</li>
      <li>{{#link-to 'wind-plot'}}Wind Plot(Charlie){{/link-to}}</li>
      <li>{{#link-to 'moving-dot'}}Moving Dot(Matt){{/link-to}}</li>
      <li>{{#link-to 'clouds-scatter-form'}}Cloud Scatter Plot{{/link-to}}</li>


    </ul>
  </div>
</nav>


{{outlet}}
