<div class="row">
  <div class="col s3">
    <h4>Click to take a look at temperatures from around the country.</h4>
    <button class="waves-effect waves-light btn" {{action 'showHist'}}>Show Plot</button>
  </div>
  <div id="holder" class="col s9">

  </div>
</div>
