<header>
  <h1 class="teal-text text-lighten-2 center-align">RainSpainPlain</h1>
  <h2 class="amber-text center-align">Because what's more fun than the weather?<br> Graphs about the weather!</h2>
</header>
